body {
    margin: 0;
}

#headlines {
    position: relative;
    white-space: nowrap;
    left: 100%;
    font-size: 28px;
}

#headlines a {
    padding-left: 10px;
}

#boundingbox {
	width: 100px;
	height: 50px;
	position: absolute;
	left: 100px;
	border: 1px solid black;
}
